*{
    margin: 0;
    padding: 0;
}

.logo {
    display: none;
}
  @media (max-width: 768px) { 
    .logo{
        display: block;
        width: 70%;
        height: 50px;
    }
}
@media (max-width:767px){
    .header-hide{
        display: none;
    }
    }
@media (max-width:767px){
    .navbar{
        position:relative;
        margin-top:40px;
    }
}
.contact-bar{
    display: none;
}
@media(max-width:767px){
.contact-bar{
    position: absolute;
    top:5px;
    display: block;
    display: flex;
 }
}
.contact-bar h2{
    font-size: 14px;
    color:#114372 ;
}
.contact-bar span{
    color:#e26229;
}

.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}
.navbar li, a{
    font-weight: 500;
    padding: 16px 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
    font-size: 16px;
}
.home-active{
    border-bottom: 2px solid #e26229;
}
.nav-hover li:hover{
    border-bottom: 2px solid #e26229;
    color: #fff;
}
.navbar li, a:hover{
    color: #fff;
}
.navbar{
    background: #114372;
    padding: 0 0;
}
.nav-item:last-child{
    text-decoration: underline;
}
/* navbar-social media icon section start */
.icon li a{
    width: 24px;
    height: 24px;
    display: inline-block;
}

@media (max-width: 991.98px) { 
    .icon{
        display: none;
    }
    .home-active{
        border-bottom: 0;
    }
    .nav-hover li:hover {
      border-bottom: none;
    }
 }
.contact-icon {
    background: url(../images/contact-icon-17.png);
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    z-index: 10000;
}
/* header logo & contact us section starts */
.senso-logo{
    margin: 10px 15px;
}
.contact-content h4{
    color: #114372;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.contact-content h4 span{
    color: #e26229;
}
@media (min-width: 1200px) { 
    .contact-content{
        padding-left: 200px;
    }
}
@media (min-width: 768px) { 
    .contact-content{
        padding-right: 45px;
    }
}
/* header logo & contact us section ends */
.contact-content h4{
    color: #114372;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.contact-content h4 span{
    color: #e26229;
}
.contact-content{
    margin-top: 30px;
}
.contact form label{
    font-size: 14px;
    color: #777777;
    padding-bottom: 7px;
    display: block;
    padding-top: 7px;
}
.contact p {
        margin: -2px;
      }
    



.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.content h2 span, a {
    color:#f4efed;
    padding: 9px 0px 9px 14px;
}
.submit-details {
    padding: 12px 35px;
    margin-top: 25px;
    display: inline-block;
}

input:required:invalid, input:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right 8px;
    background-repeat: no-repeat;
}

.banner-image{
    background: url(../images/product-banner.jpg);
    background-size: cover;
    height: auto;
}
.banner-image{
    background-image: url(../images/product-banner.jpg);
    background-size: cover;
    height: auto;
    margin-top: 20px;
}
.products-footer li{
    list-style: none;
    color: #80c2ff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 9px 0;
    border-top: 1px solid #80c2ff;
}
.products-footer li:last-child{
    border-bottom: 1px solid #80c2ff;
}
.products-footer h4{
    font-size: 20px;
    color: #fff;
    padding: 30px 0 20px;
}


/* Product dropdown menu start*/
.dropdown-menu li{
    padding: 0 0;
 }
 .dropdown-menu li:hover{
    border-bottom: 0;
 }
 .dropdown-menu{
    padding: 0 0;
 }
 .dropdown-menu li a{
    text-decoration: none;
 }
 .dropdown-menu li a:hover{
    color: #e26229;
 }
 .navbar-nav li:hover>ul.dropdown-menu{
    display: block;
 }
 .dropdown-submenu{
    position: relative;
 }
 .dropdown-submenu>.dropdown-menu{
    top: 0;
    margin-top: -5px;
    left: 100%;
 }
 .dropdown-menu>li>a:hover:after{
    transform: rotate(-90deg);
 }
 .dropdown-item, .dropdown-submenu{
    line-height: 18px;
    font-size: 12px;
    text-transform: capitalize;
    color: #878787;
 }
 ul .dropdown-menu, a .dropdown-item:hover{
    color: #e26229;
 }
 @media (max-width: 991.98px) {  
    .dropdown-menu{
    padding: 5px 15px 5px 25px;
    background-color: #114372;
}
}
@media (max-width: 991.98px) {  
    .dropdown-menu li a{
    color: #fff;
}
}
 /* product dropdown menu end */

 .footer {
    background: #114372;
    padding: 0 5px 10px 5px;
}
.footer p {
    color: #fff;
    font-size: 12px;
}
.footer p a {
    color: #e26229;
    font-size: 12px;
    text-decoration: none;
}